@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.root,
#root,
#docs-root {
  --primary-bg: #fff6eb;
  --hover-color: #dfe0df;
  --primary-text: #2f4858;
  --secondary-text: #535c78;
  --cta-color: #d97738;
}
